.project-container.web {
    max-width: 800px;
}

.project-container {
    text-align: center;
    padding: 0.5rem;

    p {
        text-align: start;
    }

    .title {
        $margin: 0.2rem;

        margin-top: $margin;
        margin-bottom: $margin;
    }
}