@mixin slider() {
    $size: 20px;

    height: $size;
    width: $size;

    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
    border-color: black;

    background-color: white;
}

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: none;

    outline: none;

    width: 70%;
    height: 6px;

    border-radius: var(--btn-radius);

    background-color: var(--ui-primary-dimmed);

    cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;

    @include slider();
}

input[type="range"]::-moz-range-thumb {
    @include slider();
}
