---
import SiteLayout from "../layouts/SiteLayout.astro";
---

<SiteLayout title="Home">
	<article class="grid-list" style="min-height: 100vh;">
        <div style="text-align: center;">
            <h1 class="title">404</h1>
            <p>Couldn't find this page anywhere 😅</p>
            <a href="/">Go home?</a>
        </div>
    </article>
</SiteLayout>