---

import SiteLayout from "../layouts/SiteLayout.astro"
import InfoCard from "../components/InfoCard.astro"
import ContactForm from "../components/ContactForm.vue"

---

<SiteLayout title="Home">
	<article class="grid-list" style="min-height: 100vh;">
        <InfoCard />
        <section>
            <div class="flex">
                <a href="/projects" class="button">
                    <span>Projects</span>
                </a>
                <a href="#contact" class="button"><span>Contact</span></a>
                <a href="/blogs" class="button"><span>Blogs</span></a>
                <a href="https://buymeacoffee.com/rockyrosso" target="_blank" data-btn-type="success" class="button"><span>❤️ Donate</span></a>
            </div>
        </section>
    </article>
    <article class="grid-list" style="min-height: 100vh;">
        <section id="contact" style="width: 100%;">
            <div class="form-container">
                <ContactForm client:visible />
            </div>
        </section>
    </article>
</SiteLayout>