---

import { Image } from "astro:assets";
import Logo from '../assets/media/rocky.png';

---

<section style="max-width: 900px;">
    <div class="flex">
        <h1 class="title">ROCKY</h1>
        <Image data-img-style="round" class={"margins"} loading={"eager"} src={Logo} alt="Rocky Rosso Profile Picture" width={200} />
        <h1 class="title">ROSSO</h1>
    </div>
    <div>
        <p class="txt-center" data-txt-style="sub">A hobbyist programmer.</p>
    </div>
</section>