<footer>
    <div class="flex space-between">
        <p>Made with <a href="https://astro.build">Astro</a></p>
        <p>Checkout my <a href="https://github.com/RockyRosso">Github</a></p>
        <a class="button" data-btn-type="success" target="_blank" href="https://buymeacoffee.com/rockyrosso"><span>❤️ Donate</span></a>
    </div>
</footer>